{% extends "base.html" %}
{% block title %}New Strategy{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-8">
    <div class="card border-0 shadow-sm p-3 text-dark">
      <h1 class="h4 mb-3">New strategy</h1>
      <form method="post">
        {% csrf_token %}
        <div class="row">
          {% for field in form %}
            <div class="col-md-6">
              {{ field.errors }}
              <p>{{ field.label_tag }}{{ field }}{% if field.help_text %}<span class="form-text">{{ field.help_text }}</span>{% endif %}</p>
            </div>
          {% endfor %}
        </div>
        <div class="d-flex justify-content-end gap-2">
          <a class="btn btn-outline-secondary" href="{% url 'strategies:strategy_list' %}">Cancel</a>
          <button class="btn btn-success" type="submit"><i data-lucide="save"></i> Save strategy</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
